<div class="nav" align="center">
        <div class="box1" align="center">
            <p></p>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="Heading1" align="left">&nbsp;&nbsp;WeTicket || My Tickets Home Page</div>
</div>